<!DOCTYPE html>
<html>
<head>
	<title>Hey</title>
	<link href="/stylesheets/bootstrap.css" rel="stylesheet">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/viewq.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
	</script>
	<script>
	var quest = "<%= question.id%>";
	var enabled = true;
	$(document).ready(function(){

	});
	</script>
</head>
<body>

<% include navbar-loggedin %>
<div class="container">
<% if (message.length > 0) { %>
	<div class="alert alert-success"><%= message %></div>
<% } %>

<div class="page-header"><h1><%=question.name%></h1></div>
<p><em>Asked by <a href="/profile/<%=question.asker._id%>"><%=question.asker.firstName %></a></em></p>

<!--<div id="fav"><span class="fa fa-star-o" id="fav"></span><br>
	<span class="votes" style="font-size: 20px"><%= question.votes%></span>
</div>-->


<div class="row"><div class=""><%=question.text%></div></div>

<h3>Current Answers: </h3>
<% if(question.answers[0]){ 
  question.answers.forEach(function(entry){%>

				<div class="panel panel-default">

					<a data-toggle="collapse" data-parent="#accordion">
						<div class="panel-heading">
							<h1 class="panel-title" style="color:black">
								<%= entry.text%>
							</h1>
						</div>
					</a>
					<div>
						<div class="panel-body" style="padding:22px; text-align:justify">
							entry.description
							<br></br>
							<span style="color: #AAAAB3">Created</span> <time class="timeago" datetime="entry.dateCreated.toISOString()" style="color: #AAAAB3"></time>
							<div class="row", style="float:right">
								<div class="col-xs-4">
									<a href="/viewproject/entry.id">
										<button type="button" class="btn btn-primary btn-sm" >More Info <span class = "glyphicon glyphicon-circle-arrow-right"></span> </button>
									</a>
								</div>

								<div class="col-xs-4">
									<a href="/editproject/entry.id%">
										<button type="button" class="btn btn-warning btn-sm" >Edit <span class = "glyphicon glyphicon-pencil"></span> </button>
									</a>
								</div>

								<div class="col-xs-4">
										<button type="button" id="entry.id%" class="btn btn-danger btn-sm delete" >Delete <span class = "glyphicon glyphicon-remove"></span> </button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

  
     <br><a href="/profileRedirect"><%=question.asker.firstName %></a><%= entry.answerer %>
    <%});%>
<% }else{ %>
  No answers yet.
<% } %>


<h3>Your Answer: </h3>
 <form action="/addanswer" method="post">
 	<input type="hidden" name="questionid" value="<%= question["_id"]%>">
    <input type="text" name="text"><br>
    <button type="submit" class="btn btn-success">Answer</button>
 </form>

</div>



<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>