<!DOCTYPE html>
<html>
<head>
	<title>Hey</title>
	<link href="/stylesheets/bootstrap.css" rel="stylesheet">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/viewq.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
	</script>
	<script>
	var quest = "<%= question.id%>";
	var enabled = true;
	$(document).ready(function(){

	});
	</script>
</head>
<body>

<% include navbar-loggedin %>
<div class="container">
<% if (message.length > 0) { %>
	<div class="alert alert-success"><%= message %></div>
<% } %>

<div class="page-header"><h1><%=question.name%></h1></div>
<p><em>Asked <%=question.asker.firstName %></em></p>

<!--<div id="fav"><span class="fa fa-star-o" id="fav"></span><br>
	<span class="votes" style="font-size: 20px"><%= question.votes%></span>
</div>-->


<div class="row"><div class=""><%=question.text%></div></div>



<h3>Current Answers: </h3>
<% if(question.answers[0]){ 
  question.answers.forEach(function(entry){%>
    <%= entry.text%> <br>
    <%});%>
<% }else{ %>
  No answers yet.
<% } %>


<h3>Your Answer: </h3>
 <form action="/addanswer" method="post">
 	<input type="hidden" name="questionid" value="<%= question["_id"]%>">
    <input type="text" name="text"><br>
    <button type="submit" class="btn btn-success">Answer</button>
 </form>

</div>



<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>